body {
    overflow: hidden;
  }

  


  .CodeMirror {

    font-size: 14px;
    line-height: 1.6;
    padding-top: 2px;
    border: none;
   
    white-space: nowrap; /* Prevent wrapping of long lines */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Webkit (Chrome, Safari) */
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;  /* Hide scrollbar in IE/Edge */
    scrollbar-width: none;  /* Hide scrollbar in Firefox */
  }
  